* {
  box-sizing: border-box;
}

section {
  padding: 2rem 4rem 2rem ;
  margin: 0 auto;
}

a:link {
  text-decoration: none;
}

html {
  font-size: 10px;
}

.active {
  display: block;
}

.logo {
  float: left;
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.nav-links li a:hover, .fab:hover {
  color: #9B51E0;
}

.nav-links li a {
  color: black;
  display: block;
  text-decoration: none;
  font: normal 16px;
  line-height: 167.2%;
  font-weight: bold;
  Float: right;
  padding: 1rem;
  }

  .cirrus {
    margin-top: 10rem;
    height: auto;
    width: 100%;
  }

.cloud {
  margin-top: 4rem;
  height: auto;
  width: 28%;
  margin-left: 36%;
  margin-right: 36%
  }

h1 {
  color: #9B51E0;
  text-align: center;
  font-family: "lora";
  line-height: 167.2%;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 3rem;
  line-height: 30px;
}

p {
font-family: "Lora";
font-size: 16px;
line-height: 167.23%;
text-align: left;
margin-left: 3%;
margin-bottom: 2rem;
}

.case-buttons {
  background-color: #9B51E0;
  font-family: "Roboto slab";
  font-size: 16px;
  width:250px;
  height:60px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 4rem;
}

.case-buttons:hover {
  background-color: #B97FEF;
}

.button-hero-cta {
color: #000000;
}

#projecticons img {
  width:80px;
  margin-left:6%;
  margin-right:6%;
  margin-top: 13rem;
  }

.underline {
  background: linear-gradient(0deg, rgba(215,185,243,1) 0%, rgba(215,185,243,1) 16%, rgba(215,185,243,1) 16%, rgba(215,185,243,1) 41%, rgba(215,185,243,0) 41%);
}

#role, #deliverables, #tools {
    padding: 30px;
}

#projectdetails h2 {
    padding-bottom:5px;
    text-align:center;
}


li {
  font-family: "Lora";
  font-size: 16px;
  line-height: 167.2%;
  text-align: center;
}

h3 {
  color: #9B51E0;
  text-align: center;
  font-family: "Roboto slab";
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

h4 {
     font-size: 30px;
     max-width: 375px;
     text-align:center;
     font-weight: bold;
     margin-bottom: 20px;
     margin-top: 30px;
     margin: 2rem auto;
     font-family: "lora";
     position: relative;
   }

   h4::before {
     content: "";
     display: block;
     width: 88px;
     height: 3px;
     position: absolute;
     left: -30px;
     top: 50%;
     background: #EB5757
     }

  h4::after {
    content: "";
    display: block;
    width: 88px;
    height: 3px;
    position: absolute;
    right: -30px;
    top: 50%;
    background: #EB5757
    }


h2 {
   font-size:36px;
   max-width: 375px;
    font-weight:bold;
    text-align:center;
    margin: 2rem auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
    font-family: "Roboto slab";
  }

.discovery-phase h2::before {
     content: "";
     display: block;
     width: 88px;
     height: 3px;
     position: absolute;
     left: -75px;
     top: 50%;
     background: #EB5757
     }

.discovery-phase h2::after {
    content: "";
    display: block;
    width: 88px;
    height: 3px;
    position: absolute;
    right: -75px;
    top: 50%;
    background: #EB5757
    }

b {
  font-weight: bold;
}

.projectimages {
  padding-bottom:20px;
  padding-top:15px;
  margin-left:40%;
}

.persona2, .persona1 {
  padding-top: 20px;
  margin-left:26%;
}

h5 {
  text-align: center;
  font-family: "lora";
  font-size: 20px;
  font-weight: bold;
  color: #9B51E0;
  margin-bottom: 20px;
  margin-top: 30px;
}

h6 {
  text-align: center;
  font-family: "lora";
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 15px;
}

.highpriority {
  background-color: #F2F2F2;
  margin-bottom: 4rem;
}

.highpriority p {
  text-align: center;
  font-family: "lora";
  font-size: 16px;
  line-height: 200%;
  font-weight: bold;
  font-style: italic;
}

.flow1 img, .flow2 img, .flow3 img, .flow4 img {
  margin-bottom: 20px;
  margin-top: 10px;
}

.Sketch1 img, .Sketch2 img, .Sketch3 img, .Sketch4 img {
    margin-bottom:20px;
    margin-top:20px;
    margin-left: 3%;
  }

.sketch-wireframe p {
  margin-bottom: 1px;
}

.Sketch,  .wireframe, .Mockups{
  background-color: #F2F2F2;
  margin-bottom: 4rem;
}

.Wireframe1 img, .Wireframe2 img, .Wireframe3 img, .Wireframe4 img, .Wireframe5 {
  margin-bottom:20px;
  margin-top:20px;
  margin-left: 3%;
}

.Color-Pallette img, .Branding img {
  margin-top:10px;
  margin-left: 3%;
}
.color-pallette img {
  margin-bottom: 4rem;
}

.brand-identity img {
  margin-left: 12%;
  margin-top:10px;
}

.typography img {
  margin-left: 7%;
}

.Cirrus-logo {
  margin-bottom: 25px;
}

.final-product  h3 {
  margin-top: 15rem;
}

.final-product p {
  text-align: left;
  font-family: "lora";
  font-style: italic;
  font-size: 22px;
  font-weight: bold;
  color: #56CCF2;
  margin-top: 10rem;
  }

.Mockups1 img, .Mockups2 img, .Mockups3 img, .Mockups4 img {
  margin-bottom:20px;
  margin-top:20px;
  margin-left: 3%;
  }

  .Background {
    margin-top:10rem;
    background-color: #D4E4E9;
  }

   h4 {
    color: #000000;
    text-align: center;
    font-family: "lora";
    font-size: 30px;
    font-weight: bold;
    margin-bottom:3rem;
    margin-top: 3rem;
  }

  p.footer-copy {
   font-family: "lora";
   font-size: 20px;
   line-height: 167.2%;
   text-align: center;
   margin-bottom:5rem;
  }

  .Social a {
    display: inline;
    padding: 1.5rem;
  }

  .Social {
   text-align: center;
   margin-bottom:5rem;
  }

  #fab {
    width:30px;
    height:30px;
  }

  .copyright {
    font-family: "lora";
    font-size: 16px;
    line-height: 167.2%;
    margin-bottom: 3rem;
    text-align: justify;
  }
