* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

section {
  padding: 2rem 3rem 2rem;
}

.active {
  display: block;
}
.container {
  width:375px;
  height:3578px;
  background-color: #F2F2F2;
  margin: auto;
}

.logo {
  float: left;
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.nav-links li a:hover, .fab:hover {
  color: #9B51E0;
}

.nav-links li a {
  color: black;
  display: block;
  text-decoration: none;
  font: normal 16px "Lora";
  line-height: 167.23%;
  font-weight: bold;
  Float: right;
  padding: 1rem;
  }

  h1 {
    text-align: center;
    font-family: "Lora";
    font-style: italic;
    font-size: 32px;
    line-height: 140%;
    font-weight: bold;
    margin-top: 15rem;
    margin-bottom: 40px;
  }

  p {
    font-family: "Lora";
    font-size: 20px;
    line-height: 140%;
    color: #000000;
    text-align: left;
    margin-bottom: 30px;
  }

  .down-arrow {
    height: 50px;
    width: 50px;
    margin-top: 60px;
    }

  h2 {
    text-align: center;
    font-family: "Lora";
    font-style: italic;
    font-size: 24px;
    line-height: 167.2%;
    font-weight: bold;
    margin-top: 5rem;
  }

.Cirrus-Background {
  height: 638px;
  width: 375px;
  background-color: #9B51; /* 30% transparent */
}

  .Cirrus {
    height: 348px;
    width: 189px;
    object-fit: contain;
  }

  h3 {
  text-align: left;
  font-family: "Lora";
  font-size: 40px;
  line-height: 167.2%;
  font-weight: bold;
}

.case-buttons {
  background-color: #9B51E0;
  font-family: "Roboto slab";
  font-size: 24px;
  width:250px;
  height:60px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 80px;
}

.case-buttons:hover {
  background-color: #B97FEF;
}

.button-hero-cta {
color: #000000;
}

.Blocjams-Background {
  height: 638px;
  width: 375px;
  background-color: #A05E8B;
}

.Blocjams {
      height: 269px;
      width: 234px;
      object-fit: contain;
}

.Busybus-Background {
  height: 842px;
  width: 375px;
  background-color: #f2f2f2;
}

.Busybus {
  height: 200px;
  width: 398px;
  object-fit: contain;
  margin-top:5rem;
}

.Background {
  width:375px;
  height:534px;
  margin-top:30rem;
  background-color: #D4E4E9;
}

 h4 {
  color: #000000;
  text-align: center;
  font-family: "lora";
  font-size: 30px;
  font-weight: bold;
  margin-bottom:5rem;
}

p.footer-copy {
 font-family: "lora";
 font-size: 20px;
 line-height: 167.2%;
 text-align: center;
 margin-bottom:5rem;
}

.Social a {
  display: inline;
  padding: 1.5rem;
}

#fab {
  width:30px;
  height:30px;
}

.copyright {
  font-family: "lora";
  font-size: 16px;
  line-height: 167.2%;
  text-align: justify;
}
