* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

a:link {
  text-decoration: none;
}

div {
  padding: 2rem 4rem 2rem;
}

.active {
  display: block;
}

#logo {
  float: left;
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.nav-links li a:hover, .fab:hover {
  color: #9B51E0;
}

.nav-links li a {
  color: black;
  display: block;
  text-decoration: none;
  font: normal 16px "Lora";
  line-height: 167.23%;
  font-weight: bold;
  Float: right;
  padding: 1rem;
  }

/* INDEX.HTML */

  h1 {
    text-align: center;
    font-family: "lora";
    font-size: 36px;
    font-weight: bold;
    margin-top: 15rem;
    margin-bottom: 40px;
  }

.hero p{
  font-family: "Lora";
  font-size: 24px;
  line-height: 167.2%;
  text-align: left;
  margin-top: 4rem;
  padding-left: 5px;
}

  .down-arrow {
    margin-top: 80px;
    width: 16%;
    margin-left: 42%;
    margin-right: 42%
    }

  h2 {
      color: #9B51E0;
      text-align: center;
      font-family: "lora";
      font-size: 30px;
      font-weight: bold;
      margin-top: 10rem;
      margin-bottom: 40px;
    }

  .hero h1, .hero h2 {
    font-style: italic;
  }

  .form-container h2 {
    margin-top: 15rem;
    margin-bottom: 60px;
  }

.Cirrus-Background {
  background-color: #D8C2ED;
}

  .Cirrus {
    height: auto;
    margin-top: 4rem;
    width: 100%;
  }

  h3 {
  text-align: left;
  font-family: "Lora";
  font-size: 36px;
  margin-top: 40px;
  line-height: 167.2%;
  font-weight: bold;
}

 .Cirrus-Background p, .Blocjams-Background P, .Busybus-Background P {
  font-family: "Lora";
  font-size: 20px;
  margin-bottom: 4rem;
  line-height: 167.2%;
  text-align: left;
  padding-left: 5px;
}

.casebuttons {
  background-color: #9B51E0;
  font-family: "Roboto slab";
  text-align: center;
  border-radius: 10px;
  margin-bottom:40px;
  width:250px;
  height:60px;
}

.casebuttons:hover {
  background-color: #B97FEF;
}

.button-hero-cta {
color: #000000;
font-size: 16px;
}

.Blocjams {
  height: auto;
  margin-top: 4rem;
  width: 100%;
  }

.Blocjams-Background {
  background-color: #A96E97;
}

.Busybus {
 height: auto;
  margin-top: 5rem;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%
}

.Background {
  margin-top:10rem;
  background-color: #D4E4E9
}

h4 {
     font-size: 30px;
     max-width: 375px;
     text-align:center;
     font-weight: bold;
     margin-bottom: 20px;
     margin-top: 3rem;
     margin-top: 30px;
     margin: 2rem auto;
     font-family: "lora";
     position: relative;
   }

   h4::before {
     content: "";
     display: block;
     width: 90px;
     height: 3px;
     position: absolute;
     left: -30px;
     top: 50%;
     background: #EB5757
     }

  h4::after {
    content: "";
    display: block;
    width: 90px;
    height: 3px;
    position: absolute;
    right: -30px;
    top: 50%;
    background: #EB5757
    }

p.footer-copy {
font-family: "lora";
font-size: 20px;
line-height: 167.2%;
text-align: center;
margin-top: 4rem;
margin-bottom:5rem;
}

.Social a {
 display: inline;
 padding: 1.5rem;
}

.Social {
 text-align: center;
 margin-bottom:5rem;
}

#fab {
 width:30px;
 height:30px;
}

.copyright {
  font-family: "lora";
  font-size: 16px;
  line-height: 167.2%;
  margin-bottom: 3rem;
  text-align: justify;
}

/* About.html */

.picture {
  height: auto;
  margin-top: 8rem;
  width: 100%;
}

.aboutme p {
  line-height: 200%;
  text-align: left;
  margin-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

h5 {
font-family: "Lora";
font-size: 20px;
font-weight:bold;
text-align: center;
line-height: 167.2%;
margin-bottom: 5.5rem;
}

p {
font-family: "Lora";
font-size: 16px;
line-height: 167.2%;
text-align: left;
}

/* Contact.html */

input {
  font-size: 18px;
  font-family: "lora";
  height: 40px;
  width: 299px;
  margin: 1.8rem 0;
  margin-bottom: 3.3rem;
  padding: 1.1rem 1rem;
}

#styled {
  font-family: "lora";
  font-size: 18px;
  width:299px;
  height:257px;
  margin-top: 3.3rem;
  margin-left: 3%;
}

#button {
  background-color: #9B51E0;
  font-family: "Roboto slab";
  font-size: 18px;
  width:250px;
  height:76px;
  margin-top: 3.3rem;
  margin-left: 2%;
}

#input {
  margin-left: 3%;
}

#button:hover {
  background-color: #B97FEF;
}

/* Busybus.html */

.Busy-bus {
 height: auto;
  margin-bottom: 8rem;
  margin-top: 6rem;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%
}

h6 {
   text-align: center;
   font-family: "Roboto slab";
   font-size: 24px;
   font-weight: bold;
   line-height: 167.2%;
   color: #9B51E0;
   margin-bottom: 2rem;
   margin-top: 6rem;
 }

 /* Blocjam.html */
.Bloc-jams {
  height: auto;
   margin-bottom: 6rem;
   margin-top: 6rem;
   width: 100%;
}

.case-buttons {
  background-color: #9B51E0;
  font-family: "Roboto slab";
  text-align: center;
  border-radius: 10px;
  width:250px;
  height:60px;
  margin: 0 auto
}

.case-buttons:hover {
  background-color: #B97FEF;
}
