* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
section {
  padding: 2rem 3rem 2rem;
}


.active {
  display: block;
}
.container {
  width:375px;
  height:3578px;
  background-color: #F2F2F2;
  margin: auto;
}

.logo {
  float: left;
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.nav-links li a:hover, .fab:hover {
  color: #9B51E0;
}

.nav-links li a {
  color: black;
  display: block;
  text-decoration: none;
  font: normal 16px "Lora";
  line-height: 167.23%;
  font-weight: bold;
  Float: right;
  padding: 1rem;
  }

  h1 {
    text-align: center;
    font-family: "Lora";
    font-style: italic;
    font-size: 32px;
    line-height: 140%;
    font-weight: bold;
    margin-top: 15rem;
    margin-bottom: 20px;
  }

  p {
    font-family: "Lora";
    font-size: 20px;
    line-height: 140%;
    color: #000000;
    text-align: left;
    margin-bottom: 70px;
  }

  .down-arrow {
    height: 50px;
    width: 50px;``
  }

  h2 {
    text-align: center;
    font-family: "Lora";
    font-style: italic;
    font-size: 24px;
    line-height: 167.2%;
    font-weight: bold;
    margin-top: 3rem;
  }

  .Cirrus {
    height: 348px;
    width: 189px;
    object-fit: contain;
  }

  h3 {
  text-align: left;
  font-family: "Lora";
  font-size: 40px;
  line-height: 167.2%;
  font-weight: bold;
}

  .Blocjams {
      height: 269px;
      width: 234px;
      object-fit: contain;
}

.Busybus {
  height: 200px;
  width: 398px;
  object-fit: contain;
}
