* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
section {
  padding: 2rem 3rem 2rem;
}


.active {
  display: block;
}
.container {
  width:375px;
  height:1435px;
  background-color: #F2F2F2;
  margin: auto;
}

.logo {
  float: left;
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.nav-links li a:hover, .fab:hover {
  color: #9B51E0;
}

.nav-links li a {
  color: black;
  display: block;
  text-decoration: none;
  font: normal 16px "Lora";
  line-height: 167.23%;
  font-weight: bold;
  Float: right;
  padding: 1rem;
  margin-bottom: 40px;
  }

  .Blocjams {
    height: 300px;
    width: 193px;
    object-fit: contain;
  }

  .case-buttons {
    background-color: #9B51E0;
    font-family: "Roboto slab";
    font-size: 16px;
    width:250px;
    height:60px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
  }

  .case-buttons:hover {
    background-color: #B97FEF;
  }

.button-hero-cta {
  color: #000000;
}


  h1 {
    text-align: center;
    font-family: "lora";
    font-size: 36px;
    font-weight: bold;
    margin-top: 15rem;
    margin-bottom: 30px;
  }

  p {
    font-family: "Lora";
    font-size: 16px;
    line-height: 167.2%;
    text-align: left;
  }

  .Background {
    width:375px;
    height:534px;
    background-color: #D4E4E9;
  }

   h4 {
    color: #000000;
    text-align: center;
    font-family: "lora";
    font-size: 30px;
    font-weight: bold;
    margin-bottom:5rem;
  }

  p.footer-copy {
   font-family: "lora";
   font-size: 20px;
   line-height: 167.2%;
   text-align: center;
   margin-bottom:5rem;
  }

  .Social a {
    display: inline;
    padding: 1.5rem;
  }

  #fab {
    width:30px;
    height:30px;
  }

  .copyright {
    font-family: "lora";
    font-size: 16px;
    line-height: 167.2%;
    text-align: justify;
  }
